# Python packages and versions used in the ECget development environment

Jinja2==2.7.2
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2.1
amqp==1.4.2
anyjson==0.3.3
arrow==0.4.2
beautifulsoup4==4.3.2
cliff==1.5.2
cmd2==0.6.7
coverage==3.7.1
docutils==0.11
kombu==3.0.10
prettytable==0.7.2
py==1.4.19
pyparsing==2.0.1
pytest==2.5.1
python-dateutil==2.2
requests==2.2.1
six==1.5.2
stevedore==0.13
tox==1.6.1
virtualenv==1.11.2
