# Python packages and versions used in the ECget development environment

Jinja2==2.7.2
MarkupSafe==0.18
Pygments==1.6
Sphinx==1.2.1
cliff==1.5.2
cmd2==0.6.7
docutils==0.11
prettytable==0.7.2
pyparsing==2.0.1
requests==2.2.0
six==1.5.2
stevedore==0.13
